<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stilo Editor — Demo Server</title>
    <base href="/" />
    <link rel="stylesheet" href="_content/Stilo.Editor/css/stilo-editor.css" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
